.box {
    width: 342px;
    height: 450.6px;
    background: $backgroundRanking;
}

div {
    border-radius: $bordas;
}

.fazendeiro{
    height: 90px;
}
.fazendeiro:hover {
    background: #ba3638;
    transition: 0.2s;
 }
