body{
    margin: 0;
    font-family: Montserrat, Sans-serif;

}

.container {
    width: 100vw;
    height: 100vh;
    background: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

 .titulo {
    width: 289px;
    height: 34px;
    background: $backgroundRanking;
    border-radius: $bordas;
    font-size: 1.5625em;
    font-weight: 900;
}

h1{
    text-align: right;
    padding: 7px 52px 5px 0;
}

.logo {
    display: flex;
    margin-left: -87px;
    margin-bottom: -238px;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
}