.fotoFazendeiro {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 0 4px 9px;
    border: 6px solid #ba3638;
    background-size: 150px;
}


.nomeFazendeiro {
    margin: 0;
}