.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .opiniao {
    visibility: hidden;
    width: 170px;
    height: 50px;
    background-color: #f8f7f7;
    color: #f8f7f7;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -89px;
    left: 358px;
  }
  
  .tooltip .opiniao::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #f8f7f7 transparent transparent;
  }
  .fazendeiro:hover .opiniao {
    visibility: visible;
  }
  
  .gosta {
   @include opiniaoGostaNaoGosta;
    border-top-left-radius: 5px;
    width: 72px;
  }
  .naoGosta {
    @include opiniaoGostaNaoGosta;
      border-top-right-radius: 5px;
      left: 70px;
      width: 100px;
  }
  
  .estiloNaoGosta {
    @include estiloFontOpiniao;
    right: 10px;
  }
  
  .estiloGosta{
    @include estiloFontOpiniao;
    left: 10px;
  }
  
  .gostaPorcento{
    @include estiloTituloOpiniao;
    left: 11px;
  }
  
  .NaoGostaPorcento{
    @include estiloTituloOpiniao;
    right: 15px;
  }