@mixin estiloTituloOpiniao(){
    position: absolute;
    text-align: center;
    top: 3px;
    color: #909090;
    font-size: 28px;
    font-weight: 600
}

@mixin estiloFontOpiniao(){
    position: absolute;
    top: -26px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

@mixin opiniaoGostaNaoGosta(){
    position: absolute;
    top: 0;
    height: 24px;
    background-color: #ba3638;
}